.lion-image{
    height: 300px;
    width: 490px;
}

.lion-title{
    margin-left: 40rem;
    margin-top: 1.9rem;
    margin-bottom: 4.1rem;
 }

.liongate-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    column-gap: 10rem;
}

.court-image-contain{
    margin-left: 15rem;
    margin-top: 3.5rem;
}

 .lion-map-contain{
     max-width: 675px;
     margin-top: 1.8rem;
 }