.login-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.login-contain {
  display: flex;
  padding-top: 1.8rem;
  background-color: black;
  padding-left: 5.8rem;
  padding-right: 8rem;
  margin-top: 10rem;
  padding-bottom: 2.4rem;
  border-radius: 20px;
}

.login-label {
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: large;
  color: white;
}

.login-button-contain {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.submit-button {
  background-color: orange;
  border-radius: 10px;
  padding: 0.2rem .3rem;
  font-weight: bold;
  color: black;
  border-color: orange;
  font-size: 13px;
  margin-right: .2rem;
  box-shadow: 4px 2px 5px black;
}

.login-register {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
  margin-right: .1rem;
}

.error {
  color: red;
}


.login-notice {
  font-weight: bold;
  margin-top: 1rem;
}

.register-here-text{
  font-weight: bold;
  font-size: 14px;
}