.videos-title{
    color: white;
    margin: 0;
    position: fixed;
    top: 4.2%;
    left: 53.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
 }

 .videolist-contr{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 7rem;
     row-gap: 4rem;
     margin-left: 18rem;
     margin-top: 9.2rem;
 }

 .hoco-lions-contain{
     margin-top: .4rem;
 }
 .hoco-lions-text{
     font-weight: bold;
     text-align: center;
     font-size: 17.5px;
 }

 .hoco-cc-drag-contain{
     margin-top: .4rem;
 }
 .hoco-cc-drag-text{
     font-weight: bold;
     text-align: center;
     font-size: 17.5px;
 }

 .hoco-eagles-contain{
    margin-top: .4rem;
 }

 .hoco-eagles-text{
    font-weight: bold;
    text-align: center;
    font-size: 17.5px;
 }