.videos-title{
    margin-left: 45.5rem;
    margin-top: 6.5rem;
    margin-bottom: 4rem;
 }

 .videolist-contr{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 7rem;
     row-gap: 6rem;
     margin-left: 20rem;
 }
