.comm-form-contain{
    margin-top: 2.8rem;
    margin-left: 36.5rem;
}

.comm-form {
    background-color: black;
    border-radius: 15px;
    padding-bottom: 3px;
    width: 495px;
  }
  
  .comment-form-question{
    font-size: 24px;
    font-weight: bold;
    margin-left: 3rem;
    padding-bottom: 1rem;
  }

  .comment-label {
    padding-right: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
  }
  
  .comm-input {
    width: 375px;
    padding-left: 0.5rem;
    margin-right: 1rem;
  }
  
  .comm-button {
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 3px 8px;
    margin-left: 0.8rem;
    font-size: 12px;
    border-color: orange;
  }
  
  .comm-but-contain {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
  }
  