.comm-form-contain{
    margin-top: 3rem;
    margin-left: 36.5rem;
}

.comm-form {
    background-color: black;
    border-radius: 15px;
    padding-bottom: 3px;
    width: 495px;
  }
  
  .comment-form-question{
    font-size: 24.5px;
    font-weight: bold;
    margin-left: 2.7rem;
    padding-bottom: 1rem;
  }

  .comment-label {
    padding-right: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
  }
  
  .comm-input {
    width: 375px;
    padding-left: 0.5rem;
    margin-right: 1rem;
    height: 25px;
  }
  
  .comm-button {
    background-color: black;
    color: orange;
    font-weight: bold;
    border-radius: 10px;
    padding: 3px 8px;
    margin-left: 0.8rem;
    font-size: 12.4px;
    border-color: black;
    box-shadow: 4px 2px 5px orange;
    margin-top: .1rem;
  }

  .comm-button:hover{
    background-color: darkorange;
  }
  
  .comm-but-contain {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  