.register-container-two {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  
  .reg-contain {
    padding-top: 2rem;
    background-color: black;
    padding-left: 3.5rem;
    padding-right: 3.2rem;
    padding-bottom: 2rem;
    border-radius: 20px;
    margin-top: 10rem;
  }
  
  .reg-label {
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 0.7rem;
    font-size: large;
    color: white;
    padding-bottom: 1.5rem;
  }
  
  .reg-label-un {
    font-weight: bold;
    padding-left: 2.3rem;
    padding-right: 0.4rem;
    font-size: large;
    color: white;
    padding-bottom: 1.5rem;
  }
  
  .reg-label-em {
    font-weight: bold;
    padding-left: 4.7rem;
    font-size: large;
    color: white;
    padding-bottom: 1.5rem;
  }
  
  .reg-label-pw {
    font-weight: bold;
    padding-left: 2.6rem;
    font-size: large;
    padding-right: 1rem;
    color: white;
    padding-bottom: 1.5rem;
  }
  
  .reg-input {
    width: 55%;
    margin-bottom: 1.3rem;
    margin-left: .1rem;
  }
  
  .reg-input-pw {
    width: 55%;
    margin-bottom: 1.3rem;
    margin-left: .1rem;
  }
  
  .reg-input-em {
    width: 55%;
    margin-left: 1rem;
    margin-bottom: 1.3rem;
  }
  
  .reg-input-ln {
    width: 55%;
    margin-left: 0.3rem;
    margin-bottom: 1.3rem;
  }
  
  .reg-input-un {
    width: 55%;
    margin-left: 0.4rem;
    margin-bottom: 1.3rem;
  }
  
  .reg-font {
    font-size: 12px;
    padding-left: 0.5rem;
    color: white;
  }
  
  .reg-button-contain {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.1rem;
    padding-top: 0.5rem;
  }
  
  .reg-button {
    background-color: black;
    color: orange;
    font-weight: bold;
    font-size: 14px;
    border-color: black;
    border-radius: 10px;
    padding: .5rem .5rem;
    box-shadow: 4px 2px 5px orange;
  }

  .reg-button:hover{
      background-color: darkorange;
  }