.two-button-contain{
    display: flex;
    justify-content: flex-end;
    padding-top: .8rem;
    padding-bottom: .3rem;
}

.delete-button{
    color: red;
    font-size: 13px;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    padding: 1px 1px;
    margin-right: .3rem;
}

.reply-button{
    font-size: 12px;
    font-weight: bold;
    margin-right: .7rem;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: orange;
    border-color: orange;
}

.modal-back {
    background-color: orange;
    width: 550px;
    margin-top: 25rem;
    margin-left: 49rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: .4rem;
    border-radius: 20px;
    border-color: black;
  }

  .reply-post {
    margin-top: 1rem;
    background-color:black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 13px;
    padding: 3px 6px;
    border-color: black;
  }

  .reply-input {
    width: 450px;
    height: 25px;
  }
  
  .reply-text {
    color: black;
    margin-right: .5rem;
    font-weight: bold;
  }
  