.navBar {
  background: black;
  box-shadow: 4px 2px 5px black;
  color: white;
  padding: .6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.logo-brand {
  margin-right: auto;
}

.login-button {
  background-color: black;
  border-radius: 10px;
  padding: 0.4rem .7rem;
  font-weight: bold;
  color: orange;
  border-color: orange;
  font-size: 14px;
  margin-right: .4rem;
}

.header-logo{
  height: 46px;
}