.meadow-image{
    height: 300px;
    width: 490px;

}

.meadow-title{
    margin-left: 38rem;
    margin-top: 8rem;
    margin-bottom: 4.1rem;
 }

.meadow-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    column-gap: 9rem;
}

.meadow-image-contain{
    margin-left: 15rem;
    margin-top: 2rem;
 
}

 .meadow-map-contain{
     max-width: 675px;
     margin-top: 1.2rem;
 }

 .notice-pay-contain{
     display: flex;
     align-content: center;
 }

 .notice-fee{
     margin-top: 1.3rem;
     margin-left: .5rem;
 }

 .notice-text{
     font-size: 17px;
 }
