footer {
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  left: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  box-shadow: 4px 2px 5px black;
  z-index: 10;
}

.copy-right {
  margin-right: auto;
  padding-left: 0.5rem;
}

.copy-color {
  color: orange;
  font-size: 15px;
  font-weight: bold;
}

.footer-list {
  list-style: none;
  display: inline-block;
  padding: 0px 32px;
}


.footer-color {
  color: white;
  font-size: 15px;
}

.footer-image{
    height: 35px;
}