.courts-title{
    margin-left: 49.5rem;
    margin-top: 6.5rem;
    margin-bottom: 4rem;
 }

 .courtlist-contr{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 7rem;
     row-gap: 6rem;
     margin-left: 18rem;
 }

 .court-image{
     height: 300px;
     width: 500px;
 }

 .list-courts-title{
     text-align: center;
     margin-top: 1rem;
     font-size: 20px;
     font-weight: bold;
 }