.courts-title{
    color: white;
    margin: 0;
    position: fixed;
    top: 4.4%;
    left: 53.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
 }

 .courtlist-contr{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 8rem;
     row-gap: 5rem;
     margin-left: 14.5rem;
     margin-top: 9rem;
 }

 .court-image{
     height: 300px;
     width: 500px;
     opacity: 1;
     display: block;
     transition: .5s ease;
     backface-visibility: hidden;
     border-radius: 25px;
     box-shadow: 4px 2px 5px black;
 }

 .court-image:hover{
     opacity: 0.3;
 }

 .list-courts-title{
     text-align: center;
     margin-top: 1rem;
     font-size: 20px;
     font-weight: bold;
 }

 .container-hov{
    position: relative;
 }

 .container-hov:hover .court-image{
    opacity: 0.3;
 }

 .container-hov:hover .middle-over{
    opacity: 1;
 }

 .middle-over {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .middle-text {
    background-color:black;
    color: orange;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 4px 2px 5px orange;
  }