.comm-list-contain {
    background-color: black;
    width: 520px;
    margin-top: 1rem;
    border-radius: 10px;
    margin-left: 33.5rem;
    margin-bottom: 1rem;
    box-shadow: 4px 2px 5px orange;
  }
  
  .list-text {
    color: white;
    padding-top: 4px;
    padding-left: .8rem;
    font-size: 16px;
  }

  .orange-text{
      color: orange;
  }
  
