.college-container{
    display: flex;

}

.hcc-dragon-img{
    height: 45px;
}

.hcc-dragon-logo{
    height: 200px;
}

.college-title{
    font-weight: bold;
    font-size: 23px;
    margin-right: auto;
}

.cc-big-img-contain{
    margin-left: 9rem;
}

.cc-table-container{
    margin-left: 6rem;
    width: 1000px;
}


.cc-header-row{
    background-color: indianred;
    color: white;
    font-weight: bold;
    font-size: 16.5px;
}

.college-title-contain{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: .2rem;
}

.search-label{
    padding-right: .3rem;
    font-weight: bold;
}

.custom-input{
    border-radius: 10px;
    padding-left: 5px;
    height: 24px;
    margin-top: .3rem;
}