.highschool-container{
    display: flex;
    margin-top: 2rem;
}

.hs-lion-img{
    height: 45px;
}

.hs-lions-logo{
    height: 175px;
}

.highschool-title{
    font-weight: bold;
    font-size: 23px;
    margin-right: auto;
}

.highschool-title-contain{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: .2rem;
}

.hs-big-img-contain{
    margin-left: 8.9rem;
}

.hs-table-container{
    margin-left: 5.2rem;
    width: 1000px;
}

.hs-header-row{
    background-color: steelblue;
    color: white;
    font-weight: bold;
    font-size: 16.5px;
}