.payment-button{
    padding: 4px 4px;
    background-color: orange;
    font-weight: bold;
    border-color: orange;
    border-radius: 10px;
    margin-left: 8.3rem;
    margin-top: 0.8rem;
    font-size: 14px;
}