.payment-button{
    padding: 3.6px 4px;
    background-color: orange;
    font-weight: bold;
    border-color: orange;
    border-radius: 10px;
    margin-left: .5rem;
    margin-top: .9rem;
    font-size: 14px;
    box-shadow: 4px 2px 5px black;
}