.water-image{
    height: 300px;
    width: 490px;
}

.water-title{
    margin-left: 38rem;
    margin-top: 1.9rem;
    margin-bottom: 4.1rem;
 }

.waterloo-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    column-gap: 10rem;
}

.water-image-contain{
    margin-left: 15rem;
    margin-top: 3rem;
}

 .water-map-contain{
     max-width: 675px;
     margin-top: 1.8rem;
 }