.water-image{
    height: 300px;
    width: 490px;
}

.water-title{
    margin-left: 38rem;
    margin-top: 6.5rem;
    margin-bottom: 2.4rem;
 }

.waterloo-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    column-gap: 7.5rem;
}

.water-image-contain{
    margin-left: 15rem;
    margin-top: 2.6rem;
}

 .water-map-contain{
     max-width: 630px;
     margin-top: 1.9rem;
 }